@model IEnumerable<WebProject.Models.StudentRecord>

@{
    ViewBag.Title = "ViewRecords";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placements Management System</title>
    <link type="text/css" href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/theme.css" rel="stylesheet">
    <link type="text/css" href="~/images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
          rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Placements Management System</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <style>
        ul.ui-autocomplete {
            background-color: white;
            list-style-type: none;
            max-width: initial;
            margin-left: 10px;
            padding: 10px;
            border-bottom: 1px solid;
            border-right: 1px solid;
            border-left: 1px solid;
        }

        .ui-state-active,
        .ui-widget-content .ui-state-active,
        .ui-widget-header .ui-state-active,
        a.ui-button:active,
        .ui-button:active,
        .ui-button.ui-state-active:hover {
            background-color: #248AAF;
            color: white;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a><a class="brand" href="~/Placements/Redirect">Placements</a>
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    @*<form class="navbar-search pull-left input-append" action="#">
                            <input type="text" class="span3">
                            <button class="btn" type="button">
                                <i class="icon-search"></i>
                            </button>
                        </form>*@
                    @Html.Partial("_LoginPartial")
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
        @*<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Placements", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>*@
    </div>

    @if (User.Identity.IsAuthenticated)
    {

        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="sidebar">
                            <ul class="widget widget-menu unstyled">
                                <li class="active">
                                    <a href="~/Admin/ViewRecords"><i class="menu-icon icon-book"></i>Records </a>
                                </li>
                                <li>
                                    <a href="~/Admin/ViewMessages">
                                        <i class="menu-icon icon-inbox"></i>Messages
                                        @if (ViewBag.Unread != 0)
                                        {
                                            <b class="label orange pull-right" id="unread">
                                                @ViewBag.Unread
                                            </b>
                                        }
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Account/Register">
                                        <i class="menu-icon icon-user"></i>
                                        Add New Student
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Admin/ResetPassword">
                                        <i class="menu-icon icon-ambulance"></i>Reset Password
                                    </a>
                                </li>
                            </ul>
                            <!--/.widget-nav-->
                        </div>
                        <!--/.sidebar-->
                    </div>
                    <!--/.span3-->
                    <div class="span9">
                        <div class="content">
                            <div class="controls">
                                <a href="~/Admin/CreateStudentRecord">
                                    <input type="submit" name="submit" class="btn btn-primary btn-md" value="Create New">
                                </a>
                            </div>

                            <br />

                            <div class="module">
                                <div class="module-head">
                                    <h3>Records</h3>
                                </div>
                                <br />
                                @using (Html.BeginForm())
                                {
                                    
                                    <div class="ui-widget align-center">
                                        <span>
                                            <input type="text" class="span6" id="tags" name="tags"
                                                   placeholder="Enter Roll Num to search">
                                        </span>
                                        <span>
                                            <button class="btn" type="submit">
                                                <i class="icon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                }
                                <div class="module-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Roll Num</th>
                                                <th>Name</th>
                                                <th>Discipline</th>
                                                <th>CGPA</th>
                                                <th>Batch</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(model => item.rollNum)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => item.name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => item.discipline)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => item.cgpa)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => item.batch)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Edit", "EditStudentRecord", new { id = item.rollNum }) |
                                                        @Html.ActionLink("Details", "StudentRecordDetails", new { id = item.rollNum }) |
                                                        @Html.ActionLink("Delete", "DeleteStudentRecord", new { id = item.rollNum }) |
                                                        @Html.ActionLink("Add Experience", "AddExperience", new { id = item.rollNum })
                                                    </td>
                                                </tr>
                                            }
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                    <!-- <hr /> -->
                                    <br />
                                </div>
                            </div>
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <hr />
        <footer>
            <p style="margin-left:50px;"> NUCES Lahore &copy; @DateTime.Now.Year</p>
        </footer>
    }
    else
    {
        <div class="container body-content">

            <hr />
            <footer>
                <p style="margin-left:50px;"> NUCES Lahore &copy; @DateTime.Now.Year</p>
            </footer>
        </div>
    }



    <script>
        $(function () {
            var availableTags = [];
            $.ajax({
                type: 'GET',
                url: '/Admin/getRecords',
                success: function (response) {
                    $.each(response, function (key, item) {
                        availableTags.push(item.rollNum);
                    })
                }
            })

            $("#tags").autocomplete({
                source: availableTags
            });
        });

        jQuery.ui.autocomplete.prototype._resizeMenu = function () {
            var ul = this.menu.element;
            ul.outerWidth(this.element.outerWidth());
        }
    </script>

</body>
</html>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cgpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.batch)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discipline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cgpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.batch)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStudentRecord", new { id=item.rollNum }) |
                @Html.ActionLink("Details", "StudentRecordDetails", new { id=item.rollNum }) |
                @Html.ActionLink("Delete", "DeleteStudentRecord", new { id=item.rollNum }) |
                @Html.ActionLink("Add Experience", "AddExperience", new { id = item.rollNum })
            </td>
        </tr>
    }

    </table>*@
