@model WebProject.Models.Message

@{
    ViewBag.Title = "CreateMessage";
}

<h2>CreateMessage</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="module">
        <div class="module-head">
            <h3>Make Request</h3>
        </div>
        <div class="module-body">
            <br />

            <form class="form-horizontal row-fluid">
                <div class="control-group">
                    <label class="control-label" for="subject">Request Subject</label>
                    <div class="controls">
                        <input required type="text" name="subject" id="subject" placeholder="Type something here..." class="span8">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="text">Request Text</label>
                    <div class="controls">
                        <textarea required id="text" name="text" class="span8" rows="5"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submit" class="btn btn-primary btn-md" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>

    @*<div class="form-horizontal">
        <h4>Message</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="subject">Subject: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
