@model IEnumerable<WebProject.Models.Message>

@{
    ViewBag.Title = "ViewMessages";
}

<div class="controls">
    <a href="~/Student/CreateMessage">
        <input type="submit" name="submit" class="btn btn-primary btn-md" value="Create New">
    </a>
</div>

<br />

<div class="module">
    <div class="module-head">
        <h3>Messages</h3>
    </div>
    <div class="module-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Text</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <br />
        <!-- <hr /> -->
        <br />
    </div>
</div>

@*<h2>ViewMessages</h2>
<p>
    @Html.ActionLink("Create New", "CreateMessage")
</p>
<hr />
<table class="table">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Text
        </th>
        <th>
            Time
        </th>
        <th>
            Status
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
    </tr>
}

</table>*@
